<%= title l(:label_rlog) %>
<table class="list">
  <thead>
  <tr>
    <th>Issue</th>
    <th>Assign to</th>
    <th>status</th>
    <th>duration</th>
    <th>violate the contract</th>
  </tr>
  </thead>
  <% @rlogs.each do |rlog| %>
    <%  journals = rlog.issue.journals.select {|i| JournalDetail.joins(:journal).where(journals: i, prop_key: "status_id").present?}  %>
    <% journals.each do |journal| %>
    <tr>
      <td ><%= link_to rlog.issue, issue_path(rlog.issue) %></td>
      <% if rlog.issue.assigned_to.present? %>
      <td><%= link_to rlog.issue.assigned_to, user_path(rlog.issue.assigned_to) %></td>
        <% else %>
      <td><i>waiting to be assigned</i></td>
        <% end  %>


        <% if journal.details.any? %>
          <% visible_details =journal.visible_details %>
          <% details_to_strings(visible_details).each do |string| %>
            <td>
              <%= string %>
            </td>

          <% end %>
          <td><%=     get_duration visible_details, rlog %> min</td>

        <% end %>

      <td><%= rlog.violated ? "yes" : "no" %></td>
    </tr>
    <% end %>
  <% end %>


</table>